appdirs==1.4.4+computecanada
attrs==21.2.0+computecanada
bgen-reader==4.0.8+computecanada
cachetools==4.2.4+computecanada
cbgen==1.0.1+computecanada
certifi==2021.10.8+computecanada
cffi==1.14.6+computecanada
charset_normalizer==2.0.7+computecanada
click==8.0.3+computecanada
cloudpickle==2.0.0+computecanada
coloredlogs==15.0.1+computecanada
cyvcf2==0.30.12
dask==2021.11.1
fsspec==2021.11.0
humanfriendly==10.0
idna==3.3+computecanada
importlib-metadata==4.8.2
iniconfig==1.1.1+computecanada
locket==0.2.1+computecanada
numpy==1.21.2+computecanada
packaging==21.2+computecanada
pandas==1.3.0+computecanada
partd==1.2.0+computecanada
pluggy==1.0.0+computecanada
pooch==1.5.2
py==1.11.0
pycparser==2.21+computecanada
pyliftover==0.4
pyparsing==2.4.7+computecanada
pytest==6.2.5+computecanada
python-dateutil==2.8.2+computecanada
pytz==2021.3+computecanada
PyYAML==5.4.1+computecanada
requests==2.26.0+computecanada
scipy==1.7.1+computecanada
six==1.16.0+computecanada
texttable==1.6.4+computecanada
toml==0.10.2+computecanada
toolz==0.11.2
tqdm==4.62.3
typing_extensions==3.10.0.2+computecanada
urllib3==1.26.7+computecanada
xarray==0.20.1
zipp==3.6.0+computecanada
